In [1]:
import pandas as pd

In [2]:
foodies=pd.read_csv('2020-XTern-DS.csv')

In [3]:
foodies.head()

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",$20.00,$50.00,3.5,12,4,30 minutes
1,ID_2882,39.775933,-85.740581,"Ice Cream, Desserts",$10.00,$50.00,3.5,11,4,30 minutes
2,ID_1595,39.253436,-85.123779,"Italian, Street Food, Fast Food",$15.00,$50.00,3.6,99,30,65 minutes
3,ID_5929,39.029841,-85.332050,"Mughlai, North Indian, Chinese",$25.00,$99.00,3.7,176,95,30 minutes
4,ID_6123,39.882284,-85.517407,"Cafe, Beverages",$20.00,$99.00,3.2,521,235,65 minutes

In [4]:
#Location description

foodies.describe()

          Latitude    Longitude
count  2019.000000  2019.000000
mean     39.499131   -85.503494
std       0.285759     0.290395
min      39.000105   -85.998864
25%      39.263364   -85.748611
50%      39.494870   -85.509055
75%      39.741469   -85.245741
max      39.999523   -85.001541

In [ ]:
#highest rating

best_rating=[]
for rating in foodies['Rating']:
    if rating == 'NEW':
        continue
    if rating == '-':
        continue
    if rating == 'Opening Soon':
        continue
    best_rating.append(float(rating))
highest_rating=0.0
for rating in best_rating:
    if rating>=highest_rating:
        highest_rating=rating
highest_rating

In [ ]:
#highest votes

b = foodies["Votes"] == foodies['Votes'].max()
foodies[b]

In [ ]:
#top 5 most southern restaurants

lat = sorted(foodies['Latitude'])
nums = lat[:5]
n = foodies[foodies['Latitude'].isin(nums)]
# n=sorted(n['latitude'])
n=n.sort_values(by='Latitude')
south = n['Restaurant'].tolist()
south